html {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.centeredContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#calculator {
    background-color: rgba(50, 50, 250, 0.05);
    width: 100%;
    max-width: 330px;
    height: auto;
    padding: 20px;
    padding-bottom: 0;
    margin: auto;
    border-radius: 25px;
    /*webkit-box-shadow: 10px 10px 62px 0px rgba(117, 117, 117, 0.96);
    //-moz-box-shadow: 10px 10px 62px 0px rgba(117, 117, 117, 0.96);*/
    box-shadow: 10px 10px 62px 0px rgba(117, 117, 117, 0.96), inset 0px 0px 20px -1px rgba(117, 117, 117, 0.5); //-webkit-box-shadow: inset 2px 2px 43px 0px rgba(117, 117, 117, 0.5);
    /*-moz-box-shadow: inset 2px 2px 43px 0px rgba(117, 117, 117, 0.5);
    //box-shadow: inset 2px 2px 43px 0px rgba(117, 117, 117, 0.5);*/
}

.display {
    width: 95%;
    min-height: 104px;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: right;
    border: 5px solid rgba(96, 71, 6, 0.12);
    border-radius: 10px;
    background-color: rgba(96, 71, 6, 0.02)
}

.input,
.history {
    white-space: nowrap;
    overflow: hidden;
}

.input {
    font-size: 3em;
}

.history {
    font-size: 1em;
    opacity: 0.5;
}

#buttons {
    width: 100%;
    margin: auto;
    text-align: center;
}

button {
    border-radius: 7px;
    width: 55px;
    height: 45px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: rgba(50, 50, 50, 1);
}

#zeroButton {
    width: 123px;
}

#equalButton {
    height: 101px;
    margin-top: -77px;
    position: relative;
    top: -27px;
}

.red {
    background-color: rgba(204, 0, 0, 0.8);
}

.invisible {
    visibility: hidden;
}

footer {
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 0;
    opacity: 0.6;
    transition: opacity 1s;
}

footer:hover {
    opacity: 1;
}

footer a {
    transition: color 0.5s;
}

a {
    text-decoration: none;
}

button:focus {
    outline: none;
}

@media only screen and (min-width: 360px) {
    .centeredContainer {
        min-width: 330px;
    }
    #calculator {
        padding: 28px;
    }
}

@media only screen and (min-width: 360px) {
    .centeredContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
    #calculator {
        background-color: rgba(50, 50, 250, 0.05);
        max-width: 330px;
        height: auto;
        padding: 28px;
        padding-bottom: 0;
        border-radius: 25px;
        /*webkit-box-shadow: 10px 10px 62px 0px rgba(117, 117, 117, 0.96);
    -moz-box-shadow: 10px 10px 62px 0px rgba(117, 117, 117, 0.96);*/
        box-shadow: 10px 10px 62px 0px rgba(117, 117, 117, 0.96), inset 0px 0px 20px -1px rgba(117, 117, 117, 0.5);
        /*-webkit-box-shadow: inset 2px 2px 43px 0px rgba(117, 117, 117, 0.5);
        /*-moz-box-shadow: inset 2px 2px 43px 0px rgba(117, 117, 117, 0.5);
    box-shadow: inset 2px 2px 43px 0px rgba(117, 117, 117, 0.5);*/
    }
}